<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>Grupperumskort</title>
  <style>
    body {
      background: radial-gradient(circle at center, #2b2b2b 0%, #111 60%, #000 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    svg {
      width: 80%;
      height: auto;
    }

    .room {
      stroke: black;
      stroke-width: 2px;
      cursor: pointer;
    }

    .ledigt {
      fill: lightgreen;
    }

    .optaget {
      fill: lightcoral;
    }
    object {
  display: block;
  margin: auto;
    }

  </style>
</head>
<body>
<object type="image/svg+xml"
        data="{{ url_for('static', filename='mega seje plan tegninger transparent 3.etager.svg') }}"
        width="80%" height="auto">
</object>
